.header {
  padding-top: 11rem;
  padding-bottom: 9rem;
  .artHead {
    h1 {
      width: 60%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
    }
  }
}
