.screens {
  padding: 100px 0px;
  background-color: #e8eff6;
  position: relative;
  .swiper-button-prev,
  .swiper-button-next {
    color: #777777 !important;
    position: absolute;
  }
  .swiper-button-prev {
    left: 4.25rem;
    width: 1.375rem;
  }
  .swiper-button-next {
    right: 4.25rem;
    width: 1.375rem;
  }
  .mySwiper {
    position: unset !important;
  }
  .singleScreen {
    img {
      filter: none;
    }
  }
}
